<h1>Cart#index</h1>
<p>Find me in app/views/cart/index.html.erb</p>

<%if session[:cart].empty?%>
<div style='font-size:50px;color:red'>Tu Carta es Vacío</div>
<%else%>




<%=link_to 'Vacio', cart_clear_path%>


<table class='table'>
    <thead>
        <th>Title</th>
        <th>Image</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        <%session[:cart].each do |id, qty|%>
        <%product = Product.find(id)%>
        <tr>
            <td><%=product.title%><br/><%=product.description%><br/><%=number_to_currency(product.price, unit:'$')%></td>
            <td><img src=<%=product.image_url%> class='small-image'></td>
            <td><%=qty%></td>

            <td>
                <%=form_for(:session, url:"/update_quantity/#{product.id}") do |f|%>
                    <%=f.number_field(:entered_qty, :value => qty)%>
                    <%=button_tag(type: :submit, class:'btn btn-primary') do  %>
                        <i class='fa fa-refresh'>Update</i>
                    <%end%>
                <%end%>
            </td>
            
            <td><a href=<%="/remove_item/#{product.id}/#{qty}"%>>Remove Item</a></td>
        </tr>
        <%end%>
    </tbody>
    
</table>

<%end%>