<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gritty2.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @gritty2.time %>
</p>

<%= link_to 'Edit', edit_gritty2_path(@gritty2) %> |
<%= link_to 'Back', gritty2s_path %>
