<!DOCTYPE html>
<html>
<head>
  <!--<title>Railscart021817</title>-->
  <title><%=(yield(:title) + " - " unless yield(:title).blank?).to_s + "Rails"   %></title>
    
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



 <div class='container'>

   <%=render '/layouts/navigation'%>
  
   
   <div class='##main'>
  <%= yield %>
</div>
   
 </div>

</body>
</html>
