<!DOCTYPE html>
<html>
<head>
  <!--<title>Railscart021817</title>-->
  <title><%=(yield(:title) + " - " unless yield(:title).blank?).to_s + "Rails"   %></title>
    
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='nav'>
  <div class='nav_pages'>
  <%=link_to "Gritty", root_path%>
  <%=link_to "Gritty2", pages_gritty2_path%>
  <%=link_to "Objectivos", objectives_path%>
  <%=link_to "Proj/Tasks", projects_path%>
  <%=link_to "Todo", root_path%>
  <%=link_to "Guitar", guitar_objectives_path%>
  <%=link_to "Piano", piano_objectives_path%>
  <%=link_to "Drums", drums_objectives_path%>
  <%=link_to "Beats", beats_objectives_path%>
  <%=link_to "Bass", bass_objectives_path%>
  <%=link_to "Shop", products_path%>
  <%=link_to "Cart", products_path%>
  <%=link_to "DIV", root_path%>
  <%=link_to "HAML", root_path%>
  </div>
    <div class='sign_pages'>
  <%=link_to "Sign Up", root_path%>
  <%=link_to "Sign In", root_path%>
  <%=link_to "Log Out", root_path%>
  </div>
  
</nav>

<div class='main'>
  <%= yield %>
</div>


</body>
</html>
